section#fnb {
  
}
section#fnb div.wrap {
  
  display: flex;
}
section#fnb div.wrap div.fnbwrap {
  
  width: 20%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  line-height: 2.5;
}
section#fnb div.wrap div.fnbwrap div.fnblist {
  
  display: flex;
  flex-direction: column;
  align-items: start;
}
section#fnb div.wrap div.fnbwrap div.fnblist h2 {
  
  font-weight: 500;
  color: rgb(29, 29, 31);
}
section#fnb div.wrap div.fnbwrap div.fnblist a {
  
  font-weight: 400;
  color: rgb(66, 66, 69);
}
section#fnb div.wrap div.fnbwrap div.fnblist a:hover {
  text-decoration: underline;
}